kind: Deployment
apiVersion: apps/v1
metadata:
  name: custom-ca-injector
  #annotations:
  #  image.openshift.io/triggers: >-
  #    [{"from":{"kind":"ImageStreamTag","name":"custom-ca-injector:k8s-style","namespace":"custom-ca-injector"},"fieldPath":"spec.template.spec.containers[?(@.name==\"custom-ca-injector\")].image","pause":"false"}]
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-ca-injector
  template:
    metadata:
      labels:
        app: custom-ca-injector
    spec:
      volumes:
        - name: custom-ca-injector-1
          secret:
            secretName: injector-ssl-certs
            defaultMode: 420
      serviceAccount: ca-injector
      containers:
        - name: custom-ca-injector
          image: quay.io/radudd/custom-ca-injector:k8s-style
          imagePullPolicy: Always
          ports:
            - containerPort: 8443
              protocol: TCP
          volumeMounts:
            - name: custom-ca-injector-1
              mountPath: /ssl
          environment:
            - key: LOG_LEVEL
              value: Debug
  strategy:
    type: RollingUpdate
